body {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)
    ), url('assets/images/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
  }
.neon:hover {
    text-shadow: 0 0 5px gold, 0 0 15px #f4f003, 0 0 25px gold, 0 0 100px #f4f003;
}
.linkActivo{
    font-weight: 900;
    text-shadow: 0 0 5px gold, 0 0 15px #f4f003, 0 0 25px gold, 0 0 100px #f4f003;
}
.image-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.image-404{
    margin-bottom: 30px;
}
.img-inicio{
    width: 100%;
}
span{
  font-weight: 900
}

select{
  margin: 30px;
  height: 40px;
  width: 300px;
}